body{
    margin: 5vh;
}
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: justify;
}
.info p{
    font-size: 3vh;
}
.info img{
    width: 100%;
}
.info li{
    font-size: 3vh;
}

@media only screen and (max-width : 900px) {
    .info{
        grid-template-columns: repeat(1, 1fr);
    }
    .info p{
        font-size: 2vh;
    }
    .info li{
        font-size: 2vh;
    }
    }